body
  display flex
  justify-content space-around
  height 100vh
  margin 0
  align-items center
  background #333
  color #fff
  font-family 'PT Sans Narrow'

#fileManager
  max-width 44em
  #__dirname
    height 20em
    overflow-y scroll
    position relative
  ul
    margin 0
    box-sizing border-box
    display flex
    position absolute
    width 100%
    top 0
    left 0
    padding .25em
    flex-wrap wrap
    list-style-type none
    background-color #eee
  .folder
    i
      font-size 5em
      color #ffca28
  li
    display flex
    justify-content center
    cursor pointer
    align-items center
    width 5em
    height 5em
    box-sizing border-box
    position relative
    color #fff
    margin 1em
    & > *
      pointer-events none
    i
      position absolute
      display flex
      width 100%
      height 100%
      top 0
      left 0
      justify-content center
      align-items center
      font-size 4.5em
      color coral
    span
      position relative
      top 3em
      width 100%
      height 1.5em
      overflow hidden
      text-align center
      color #333
      border-radius .2em
    & + ul
      display none
      padding-left .5em
      border-left .1em solid
      height 100%
      z-index 2

#bar
  display flex
  background #FFC107
  #path
    border 0
    margin .25em .5em
    padding .2em
    border-radius .2em
    background transparent
    color #eee
    font-weight 600
    &:focus
      outline none
  h1
    margin 0
  button
    border 0
    margin .5em .1em
    padding .25em
    color #eee
    cursor pointer
    background transparent
    transition .75s ease
    &:hover
      background #eee
      color #FFC107

#console
  list-style-type none
  padding 0
  margin 0
  min-width 15em
  min-height 50%
  max-height 80%
  background #eee
  color #fff
  border-radius .25em
  overflow hidden
  li
    border-bottom .2em solid (#4CAF50 - 20%)
    padding .5em .1em
    background #4CAF50